@import "tailwindcss";

.light {
    background-color: white;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}

.dark .menu-bg{
    background-color: #101828;
}

.dark .menu-active{
    color:oklch(82.8% 0.111 230.318);
    background-color: oklch(50% 0.134 242.749);
}

.dark .menu-inactive:hover{
    background-color:#1e2939;
}

.dark .contact-icons{
    background-color: #364153;
}